:root {
  /* Light theme (default) */
  --bg-main: #ffffff;
  --bg-surface: #fafafa;
  --bg-image: url("../src/assets/bg-image1.png");
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --border-light: rgba(0, 0, 0, 0.08);
  --shadow-primary: rgba(17, 17, 26, 0.1) 0px 2px 8px, rgba(17, 17, 26, 0.05) 0px 4px 16px;
  --shadow-image: 0 18px 40px rgba(0, 0, 0, 0.12),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);
  --shadow-list: 0 3px 10px rgba(0, 0, 0, 0.10);
  --shadow-left: 0 6px 20px rgba(0, 0, 0, 0.08);
  --color-green: rgb(0, 174, 29);
  --color-red: rgb(243, 55, 22);
  --color-pale-red: #fff2f1;
  --color-pale-yellow: #ffffc3;
  --color-pale-green:rgb(208, 255, 205);
  --color-red-secondary: rgb(255, 80, 50);
  --shadow:0 3px 10px rgba(64, 255, 0, 0);
  --shadow-bottom: 0 3px 6px rgba(0, 0, 0, 0.12);
  --thankyou-shadow: 0 10px 30px rgba(161, 161, 161, 0.18),
    0 2px 10px rgba(149, 149, 149, 0.12);
  --btn-color: rgb(225, 225, 225);
  --foodlist-arrow: rgba(0, 0, 0, 0.1);
  --hot-selector-shadow : rgba(99, 99, 99, 0.3) 0px 0px 8px 0px;
  --light-border : 1px solid rgba(17, 17, 17, 0.1);
  --text-tertiary : rgb(207, 207, 207);
  --fav-ingredient-color: #FFF9F2;
  --fav-nutrition-color: #EEF6FF;
  --nutrition-icon-filter: brightness(0) saturate(100%);
  --shadow-card-normal: 0 10px 25px rgba(0, 0, 0, 0.08);
  --shadow-card-hover: 0 16px 40px rgba(0, 0, 0, 0.12);
  --shadow-card-red:
    0 12px 28px rgba(220, 38, 38, 0.28),   /* main depth */
    0 6px 14px rgba(239, 68, 68, 0.22),    /* warm glow */
    inset 0 0 0 rgba(0, 0, 0, 0);
    --shadow-card-red-hover:
    0 18px 45px rgba(220, 38, 38, 0.38),
    0 10px 22px rgba(239, 68, 68, 0.28);
    --filter: none;
}

[data-theme="dark"] {
  --bg-main: #121212;
  --bg-surface: #020617;
  --bg-image: none;
  --text-primary: #f8fafc;
  --text-secondary: #cbd5f5;
  --border-light: rgba(255, 255, 255, 0.12);
  --shadow-primary: rgba(208, 208, 208, 0.1) 0px 2px 8px, rgba(255, 255, 255, 0.05) 0px 4px 16px;
  --shadow-image: 0 18px 40px rgba(255, 255, 255, 0.0);
  --shadow-list: 0 3px 10px rgba(255, 255, 255, 0.08);
  --shadow-left: 0 6px 20px rgba(255, 255, 255, 0.08);
  --color-green: rgb(22, 243, 59);
  --color-red: rgb(243, 51, 18);
  --color-pale-red: #2e2e2e;
  --color-pale-yellow: #00000000;
  --color-pale-green:rgba(208, 255, 205, 0.8);
  --shadow: rgba(255, 255, 195, 0.2) 2px 2px 6px;
  --shadow-bottom: 0 3px 8px rgba(255, 255, 255, 0.1);
   --thankyou-shadow: 0 12px 24px rgba(178, 178, 178, 0.35),
    0 2px 6px rgba(163, 163, 163, 0.18);
  --btn-color: rgb(74, 74, 74);
  --foodlist-arrow: rgb(255, 255, 255, 0.2);
  --hot-selector-shadow : rgba(255, 255, 255, 0.3) 0px 0px 12px 0px;
  --light-border : 1px solid rgba(255, 255, 255, 0.2);
  --fav-ingredient-color: #1E1A16;
  --fav-nutrition-color: #16202B;
  --nutrition-icon-filter: brightness(0) invert(1);
 --text-tertiary : rgba(131, 131, 131);
 --shadow-card-normal: 0 12px 30px rgba(0, 0, 0, 0.55);
  --shadow-card-hover: 0 18px 45px rgba(0, 0, 0, 0.7);
  --shadow-card-red:
    0 14px 34px rgba(239, 68, 68, 0.35),
    0 8px 18px rgba(248, 113, 113, 0.28);
  --shadow-card-red-hover:
    0 20px 50px rgba(239, 68, 68, 0.45),
    0 12px 26px rgba(248, 113, 113, 0.35);
    --filter: brightness(0) invert(1);
}

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 16px;
  border-radius: 999px;
  background: var(--bg-surface);
  color: var(--text-primary);
  border: 1px solid var(--border-light);
  font-weight: 600;
  cursor: pointer;
  z-index: 999;
}

* {
  scrollbar-width: none;      
  -ms-overflow-style: none;   
}

*::-webkit-scrollbar {
  display: none;              
}

body {
  background: var(--bg-main);
  /* background-image: var(--bg-image); */
  object-fit: fill;
  color: var(--text-primary);
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background 0.3s ease, color 0.3s ease;
}

.home-btn {
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: 20px;
}

button {
  font-family: "Geom", system-ui, sans-serif;
}

.home-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0) saturate(100%)
    invert(24%) sepia(97%) saturate(7462%)
    hue-rotate(6deg) brightness(98%) contrast(107%);
}

/* Disable text selection everywhere */
* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Disable image dragging */
img {
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
/* https://dashboard-ecommerce-react.netlify.app/ */